{% load static %} <!-- loads the css path -->
<! DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	    <!--===============================================================================================-->
		<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<!--===============================================================================================-->

	    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" /> <!-- CSS file -->
	    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	    {% if title %}
			<title>Review Tech - {{title}}</title>
		{% else %}
			<title>Review Tech</title>
		{% endif %}

	</head>
	<body>
		<div class="container">
			<header class="site-header">
			  	<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
				    <div class="container">
				        <a class="navbar-brand mr-4" href="{% url 'home' %}">Tech Review</a>
				        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
				        	<span class="navbar-toggler-icon"></span>
				        </button>
				      	<div class="collapse navbar-collapse" id="navbarToggle">
					        <div class="navbar-nav mr-auto">
					          	<a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
					          	<a class="nav-item nav-link" href="{% url 'about' %}">About</a>
					           	<a class="nav-item nav-link" href="{% url 'product' %}">Product</a>
					            <a id="contact-nav-link" class="nav-item nav-link" href="#">Contact</a>
					        </div>
					        <!-- Navbar Right Side -->
					        <div class="navbar-nav">

					        	{% if user.is_authenticated %}
									<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
									<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
								{% else %}
									<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
									<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
								{% endif %}

					        </div>
				      	</div>
				    </div>
			  	</nav>
			</header>

			<div class="row">
				<div class="col-md-8">
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-{{message.tags}}">{{ message }}</div>
						{% endfor %}
					{% endif %}

					{% block content %} <!--Content appears here --> {% endblock %}
				</div>
				<div class="col-md-4">
					<div class="content-section">
				        <h3>General Information</h3>
				        <p class='text-muted'>
				        	Lorem ipsum dolor sit amet, iudico docendi inciderint per eu, ea vis scripta senserit periculis.
				        </p>
			          	<ul class="list-group">
				            <li class="list-group-item list-group-item-light">Latest Issues Reported</li>
				            <li class="list-group-item list-group-item-light">IT Policies</li>
				            <li class="list-group-item list-group-item-light">IT Regulations</li>
				            <li class="list-group-item list-group-item-light">Upcoming Events</li>
			          	</ul>
			      	</div>
				</div>
			</div>
		</div>

		
		<div class="container-contact100" style="display: none;">
			<div class="wrap-contact100">
				<button class="btn-hide-contact100">
					<i class="zmdi zmdi-close"></i>
				</button>

				<div class="contact100-form-title" style="background-image: url(images/bg-02.jpg);">
					<span>Contact Us</span>
				</div>

				<form method="POST" action="{% url 'contact' %}" class="contact100-form validate-form">
					{% csrf_token %}
					<div class="wrap-input100 validate-input">
						<input id="name" class="input100" type="text" name="name" placeholder="Full name">
						<span class="focus-input100"></span>
						<label class="label-input100" for="name">
							<span class="lnr lnr-user m-b-2"></span>
						</label>
					</div>

					<div class="wrap-input100 validate-input">
						<input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
						<span class="focus-input100"></span>
						<label class="label-input100" for="email">
							<span class="lnr lnr-envelope m-b-5"></span>
						</label>
					</div>

					<div class="wrap-input100 validate-input">
						<textarea id="message" class="input100" name="message" placeholder="Your message..."></textarea>
						<span class="focus-input100"></span>
						<label class="label-input100 rs1" for="message">
							<span class="lnr lnr-bubble"></span>
						</label>
					</div>

					<div class="container-contact100-form-btn">
						<button type="submit" class="contact100-form-btn">
							Send Now
						</button>
					</div>
				</form>
			</div>
		</div>

		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	    <!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
		<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'js/main.js' %}"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-23581568-13');
		</script>
	</body>
</html>